

//Navbar Style
.Main-Nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 32, 32);
  height: 15vh;
  padding: 10px 40px; 
  color: #fff; 
  font-family: Arial, sans-serif; 

  
  .nav-home{
    span{
      font-size: 30px;
    }
  }

  .Link {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
    transition: background-color 0.3s ease; 

    &:hover {
     
      border: 2px solid #454545;
      padding: 10px;
      background-color: #454545; 
      border-radius: 12px; 
    }
  }
}





// UserEntery StyleSheet 


.Type-Form {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1{
    text-align: center;
  }

  .Main-InputField {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .Input-Label-One {
    display: grid;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .Main-Button {
    text-align: center;
    margin-top: 20px;

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}


//UserDetails Style sheet


.Main-table {

  .Filter-Div {
    display: flex;
    align-items: center;
  
    input[type="text"] {
      padding: 8px;
      border: 1px solid #000;
      border-radius: 4px;
      margin-right: 10px;
      font-size: 16px;
    }
  
    button {
      padding: 8px 12px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        background-color: #555;
      }
    }
  }
  
  h1 {
    text-align: center;
  }

  .Filter-Div{
    display: flex;
    position: absolute;
    left: 900px;
    top: 200px;
  }

  .Table-Content {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 100px;

    th,
    td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
      flex: 1; // Equal space distribution
    }
    .td-Link{
      display: flex;
      gap: 20px;
    }



    th {
      background-color: #f2f2f2;
    }

    .Result-Item {
      display: flex;
      align-items: center; // Vertically align content

      &:hover {
        background-color: #f9f9f9;
      }
    }

    button {
      padding: 5px 10px;
      border: none;
      background-color: #007bff;
      border-radius: 6px;
      color: white;
      cursor: pointer;
    }

    .Thead-Div {
      display: flex;
      justify-content: space-between; // Move button to the right
      width: 100%;
      align-items: center; // Align items vertically
    }
  }
}





// userDetails Pages Style Sheet

.Main-Table{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
  
  
table {
  width: 80%;
  margin-top: 10px;
  margin: 0 auto; // Center the table horizontally
  border-collapse: separate; 
  border: 2px solid #ddd;
  text-align: center;
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    
  }
  
  td:first-child { 
    width: 10%; 
  }
  
  td:last-child { 
    width: 10%; 
  }
}
}

//userdata style sheet
.user-data-head{
  text-align: center;

  h1{
    font-size: 40px;
  }
  p{
    font-size: 15px;
    font-weight: 600;
  }
}

.payment-success-popup {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  background-color: rgb(65, 64, 64);
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 9999; 

  p{
    font-size: 25px;
  }
}
.payment-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 50px;

  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  .paid {
    color: green;
  }

  .unpaid {
    color: red;
  }
}



  
  
